
@{int i = 1;}


<h1>Users</h1>


<table>
    <tr>
        <th></th>
        <th>Gebruikersnaam</th>
        <th>Score</th>
    </tr>
    @foreach (var u in ViewBag.users)
    {
        <tr>
            <td>@i</td>
            <td>@u.Name</td>
            <td>@u.TotoScore</td>

        </tr>
        i++;

    }
</table>

