<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @*C:\Users\Birgi\GitHub\SDpraktijk3\Competitiemanager\wwwroot\bootstrap\startbootstrap-new-age-gh-pages\css\styles.css*@
    <link href="/content/site.css" rel="stylesheet" />
    <title>Competitiemanager</title>
</head>
<body>
    <nav class="nav">
        <h1> Hallo </h1>
        <ul id="navbar">
            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
            <a class="nav-link" asp-controller="Team" asp-action="List">Teams</a>
            <a class="nav-link" asp-controller="Bet" asp-action="Index">Bet</a>
            <a class="nav-link" asp-controller="Competition" asp-action="List">Competition</a>
            <a class="nav-link" asp-controller="Game" asp-action="List">Game</a>
            <a class="nav-link" asp-controller="TeamInComp" asp-action="List">TeamInComp</a>
            <a class="nav-link" asp-controller="User" asp-action="Index">User</a>
            <partial name="_LoginPartial"/>
        </ul>
    </nav>
    <div>
        @RenderBody()
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
