@model IEnumerable<competitiemanager.Models.Team>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teams</title>
</head>
<body>
    <h1>Alle teams</h1>

    @foreach (var team in Model)
    {
        <div>
            <h3>@team.Name</h3>
            <p>@team.Location</p>
            @foreach (var playa in team.Players)
            {
                <p>@playa</p>
            } 
        </div> 
    }
</body>
</html>
