@model TeamViewModel


    <h1>Alle teams</h1>

    @foreach (var team in Model.Team)
    {
        <div>
            <h3>@team.Name</h3>
            <p>@team.Location</p>
            @foreach (var playa in team.Players)
            {
                <p>@playa.Name</p>
            } 
        </div> 
    }
