@model TeamViewModel


    <h1>Alle teams</h1>

    @foreach (var team in Model.Team)
    {
        <div>
            <a class="abutton" asp-controller="Team" asp-action="Details" asp-route-id ="@team.TeamId">@team.Name</a>
            <p>@team.Location</p>
            @foreach (var playa in team.Players)
            {
                <p>@playa.Name</p>
            } 
        </div> 
    }
