@model NewTeamViewModel



<form asp-action="NewTeam" enctype="multipart/form-data" method="post" class=" form-horizontal" role="form" >
    <h1>Nieuw team aanmaken</h1>

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Name" class="form"></label>
        <div class="col-md-5">
            <input asp-for="Name" class="form" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <br />

    <div class="form-group">
        <label asp-for="Location" class="form"></label>
        <div class="col-md-5">
            <input asp-for="Location" class="form" />
            <span asp-validation-for="Location" class="text-danger"></span>
        </div>
    </div>

    <br />

    <div style="display:block;">
        
            <table>
                
                    @for (int i = 1; i <= 5; i++)
                    {
                <tr>
                    <td>
                        <label style="float:left" class="form">@i  <input name="Players" /></label>
                    </td>
                    <td>
                        <label style="float:left" class="form">@(i+5)  <input name="Players" /></label>
                    </td>
                    <td>
                        <label style="float:left" class="form">@(i+10)  <input name="Players" /></label>
                    </td>
                    <td>
                        <label style="float:left" class="form">@(i+15)  <input name="Players" /></label>
                    </td>
                </tr>
                    }
                    
            </table>






        
    </div>

    <br />

    <div class="form" style="display:block;">
        <div class="form">
            <input type="submit" class="abutton" value="Team aanmaken" />
        </div>
    </div>

</form>
