@model BetListViewModel

@foreach(var bet in Model.Bets)
{
    <div>
        <p>betId: @bet.BetId</p>
        <p>gameId: @bet.GameId</p>
        <p>userId: @bet.UserId</p>
        <p>prediction: @bet.Prediction</p>
    </div>
}